header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0;
}

header .menu-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: auto;
  /* border: 1px solid blue; */
  padding-left: 0.8rem;
}

header .menu {
  font-size: 2rem;
  margin-top: -0.3rem;
}

header .logo {
  font-size: 1.2rem;
  font-weight: 600;
}

header .avatar {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 1px solid #ddd;
  object-fit: cover;
  margin-right: 0.75rem;
}
