.article-card {
  padding: 0.85rem 0.65rem 0.7rem 0.65rem;
  border-top: 1px solid #ddd;
}

.article:last-of-type {
  border-bottom: 1px solid #ddd;
}

.article-card .credit-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.article-card .slug-name {
  color: #555;
}

.article-card .slug-name::before {
  content: '/';
  margin-right: 0.05rem;
}

.article-card .posted-ago {
  color: #666;
  font-size: 0.7rem;
}

.article-card .title-image {
  display: flex;
  flex-direction: column;
}

.article-card .thumb {
  margin-top: 1rem;
  justify-content: center;
}

.article-card .title {
  font-size: 0.85rem;
  line-height: 1.55;
  margin-top: 0.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /* min-height: 2.5rem; */
}

.article-card .reactions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.3rem;
}

.article-card .comment-count {
  font-size: 0.75rem;
  color: #777;
}

.article-card .comment-count::after {
  content: ' comments';
}
