*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  color: unset;
}

.container {
  border: 1px solid #ddd;
  width: 352px;
  height: calc(100vh - 2rem);
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: top;
  overflow-y: auto;
}
