.vote-controls {
  font-size: 0.8rem;
  background-color: #f8f8f8;
  display: flex;
  align-items: top;
  padding: 0.3rem 0.7rem 0.1rem 0.7rem;
  border: 1px solid #eee;
  border-radius: 1rem;
}

.vote-controls .inc {
  margin-right: 0.5rem;
}

.vote-controls .dec {
  margin-left: 0.5rem;
}

.vote-controls .dec,
.vote-controls .inc {
  cursor: pointer;
  transition: transform 100ms ease;
}

.vote-controls .dec:hover,
.vote-controls .inc:hover {
  transform: scale(1.2);
}

.vote-controls .voted {
  color: red;
  font-weight: 700;
}
